{{define "title"}}Index page{{end}}
{{define "content"}}
<h1 class="text-4xl font-bold">This is my page</h1>
<div class="prose max-w-full">
Just a little bit of info on the index page.
</div>
{{end}}
{{ template "core" .}}