{{define "foot"}}
  <footer class="container mt-auto mx-auto">
    <div class="flow-root mt-4">
      <span class="float-left text-sm">
        © Copy-foot
      </span>
      <span class="float-right py-1">
       <a href="https://example.com" target="_blank"> 
          <span class="text-sm">&#128279;</span>
        </a>
      </span>
    </div>
  </footer>
{{end}}
