{{define "nav"}}
  <nav>
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/">
        <span class="text-xl">My Site</span>
      </a>
      <div class="block w-auto">
        <ul
          class="font-medium flex flex-row p-0 space-x-8 mt-0"
        >
          <li>
            <a
              href="/"
              class="block font-normal text-gray-500 hover:text-gray-300 p-0"
              >Index</a
            >
          </li>
          <li>
            <a
              href="/posts"
              class="block font-normal text-gray-500 hover:text-gray-300 p-0"
              >Posts</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{end}}
